
body {
    font-family: Arial, sans-serif;
    background-color: #fefbe9;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  #main-title {
    color: #1c381d;
    text-align: center;
    margin-bottom: 20px;
  }
  

  .todo-list {
    border: 2px dashed #d99c30;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
  }
  
  ul > li {
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
  }
  
  
  .morning, .afternoon, .evening {
    background-color: #fff2cc;
  }
  
  .important.morning {
    background-color: #f4a261;
    font-weight: bold;
  }
  
  .afternoon {
    background-color: #d2f4f2;
  }
  
  [class~="evening"] {
    background-color: #e0f7fa;
  }
  
  .note[data-type="reminder"] {
    margin-top: 20px;
    font-style: italic;
    color: #4caf50;
  }
  
  li:hover {
    background-color: #cde9ff;
  }
  
  li:nth-child(odd) {
    color: #333;
  }
  