body {
    font-family: Arial, sans-serif;
}
.product-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}
.product-item {
    width: 100px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
}
.product-item:hover {
    border: 1px solid orange;
}
.product-name {
    font-weight: bold;
    font-size: 10px;
}
.product-name a,
.product-price {
    margin: 5px 0;
    text-decoration: none;
}
.product-name a:visited {
    color: #000; 
}
.product-name a:hover,
.product-price:hover {
    color: red;
}
.product-item img {
    width: 100px;
    height: auto;
}