* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sofia Pro", sans-serif;
}

/* common */

/* header */
.container {
  background-image: url("../img/banner_godzilla.png");
  background-size: cover;
  width: 99vw;
  height: 1000px;
  margin: 0 auto;
}

